<% include partials/header %>

<div class="container">

    <h1>Welcome to Drinkr</h1>
    
    <a class="btn btn-primary btn-large" href="/cocktails">View cocktails</a>

</div>

<% include partials/footer %>