<% include ../partials/header %>

  <div class="container">
      
    <header class="jumbotron">
        <h1><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Mixopedia</h1>
        <p>Discover and share cocktail recipes to up your bartending game</p>
        <p>
            <a class="btn btn-primary btn-large" href="/cocktails/new">Add New Cocktail</a>
        </p>
    </header>
    <form class="form-inline" id="search-form" action="/cocktails/search" method="POST">
        <div class="form-group">
            <input id="search-input" class="form-control" type="text" name="query" placeholder="Search for a drink or ingredient" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="row" style="display:flex; flex-wrap: wrap;">
        
        <% cocktails.forEach(function(cocktail) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="/cocktails/<%= cocktail._id %>">
                        <img src="<%= cocktail.image %>">
                    </a>
                    <div class="caption">
                        <h4><%= cocktail.name %></h4>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
  </div>

<% include ../partials/footer %>