.thumbnail img {
    width: 100%;
}

#comment-heading {
    float: left;
}

#delete-form {
    display: inline;
}

#search-form {
    padding-bottom: 25px;
}

#profile {
    width: 30%;
}

#search-input {
    width: 260px;
}