html,body{
    height: 100%
}

.thumbnail img {
    width: 100%;
}

.caption a {
    color: #333;
}

#comment-heading {
    float: left;
}

#delete-form {
    display: inline;
}

#search-form {
    padding-bottom: 25px;
    margin-right: 0px;
}

#new-button {
    padding-bottom: 25px;
}

#profile {
    width: 30%;
}

#search-input {
    width: 100%;
}

#textarea {
    resize: none;
}

#logo-text {
    font-family: 'Patua One';
    font-size: 60px;
    text-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,0.2);
}

#logo-glass {
    font-size: .75em;
}

#nav-glass {
    font-size: .8em;
}

#footer {
    margin-bottom: 0px;
    width: 100%;
    position:absolute;
	bottom:0;
	left:0;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:100px;
}